jupyter
pandas
numpy
matplotlib
scikit-learn
faker
python-dotenv
pyarrow
redis
# Modèle A (estimation prix véhicule)
xgboost
catboost
optuna
mlflow
joblib
# Modele B (recommandation de garages)
sentence-transformers
psycopg2-binary
truststore
